/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #000000, #3d0c72);
}

/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(to bottom, #0b031a, #2a015500);
  font-family: "Helvetica Neue", sans-serif;
}

.navbar img {
  height: 60px;
  width: 60px;
}

.navbar a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  margin-right: 1rem;
  position: relative;
  display: inline-block;
  font-size: 14px;
}

.navbar a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.2s ease-in;
}

.navbar a:hover::after {
  background-color: #ffffff;
}

/* Welcome Image and Text */
.welcome-section {
  height: 100vh;
  background-image: url(brain_bg_square.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcome-text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #fff;
  padding: 1rem;
}

.welcome-section h1 {
  font-family: "Arial Black", sans-serif;
  font-size: 36px;
  color: white;
}

/* About Section */
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 5%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.about-section h2 {
  font-family: "Arial Black", sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
}

.about-section p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: white;
  text-align: left;
  padding: 5px;
}

/* Projects Section */
.projects-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
}

.projects-section h2 {
  font-family: "Arial Black", sans-serif;
  font-size: 30px;
  padding: 10px;
  color: white;
  text-align: center;
}

.projects-section p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: white;
  width: 90%;
  text-align: left;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-wrap: wrap;
}

.slider-frame {
  width: 90%;
  height: auto;
  overflow: hidden;
}

.slider-frame img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.slider-content {
  padding: 10px;
  height: auto;
  width: 100%;
  text-align: left;
}

.slider-content h2 {
  font-size: 24px;
  color: #ffffff;
  padding: 10px;
  text-align: left;
}

.slider-content p {
  padding: 10px;
  font-size: 14px;
  text-align: left;
}

.arrow-left, .arrow-right {
  font-size: 30px;
  color: white;
  padding: 10px;
  bottom: 20px;
  cursor: pointer;
}

/* Who We Are Section */
.who-we-are-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.who-we-are-section h2 {
  font-family: "Arial Black", sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
}

.who-we-are-section p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: white;
  text-align: left;
}

/* Email List Signup Section */
.email-list-signup-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.email-list-signup-section h2 {
  font-family: "Arial Black", sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
}

.email-list-signup-section p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: white;
  text-align: left;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

input[type="email"] {
  width: 80%;
  height: 40px;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 25px 0 0 25px;
  border: none;
  border-right: 1px solid #ccc;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

button[type="submit"] {
  width: 20%;
  height: 40px;
  padding: 5px 10px;
  background-color: #700367;
  color: white;
  font-size: 14px;
  border-radius: 0 25px 25px 0;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #ff00dd;
}

/* Contact buttons */
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.contact-section .btn {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: white;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
  color: #3d0c46;
}

.contact-section .btn {
  width: 20px;
  height: 20px;
}
